@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * Field styles
 */

.FormField--number {
  &.isDisabled .FormField {
    &-field {
      @include FormField-isDisabled;
    }
    &-control {
      box-shadow: none;
    }
  }

  @include FormField--modifiers;
}

.FormField--number .FormField {
  &-control {
    @include FormField-control;
    appearance: textfield;
    padding-right: 1.5rem;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  &-spin {
    position: absolute;
    right: 1px;
    height: 50%;
    padding: 0 rem(5px);
    border-left: 1px solid $Pollicino-color-lighter;
    opacity: 0.8;
    line-height: $Pollicino-FormField-height / 2;
    border-radius: 0;

    &::before {
      // triangle
      content: '';
      display: inline-block;
      border: rem(4px) solid transparent;
    }

    &[disabled]::before {
      opacity: 0.4;
    }

    &--plus {
      top: 1px;

      &::before {
        border-bottom-color: currentColor;
      }
    }

    &--minus {
      bottom: 1px;

      &::before {
        border-top-color: currentColor;
      }
    }
  }
}
