
/* COLORS
   =============================================== */

$Pollicino-color-text: #333339 !default;
$Pollicino-color-light: #88888C !default;
$Pollicino-color-lighter: rgba(#9D9DA2, 0.6) !default;
$Pollicino-color-error: #F12A33 !default;
$Pollicino-color-primary: #1EA0F5 !default;
$Pollicino-color-secondary: #E84C09 !default;


/* GLOBALS
   =============================================== */

$Pollicino-font-size: 15px !default;
$Pollicino-border-radius: 3px !default;


/* COMPONENTS VARIABLES
   =============================================== */

$Pollicino-FormField-height: rem(34px) !default;
$Pollicino-FormField-overlay-zIndex: 5000 !default;
$Pollicino-Modal-zIndex: 9999 !default;
