/* COLORS
   =============================================== */

$Pollicino-color-text: #333339 !default;
$Pollicino-color-light: #88888c !default;
$Pollicino-color-lighter: rgba(#9d9da2, 0.6) !default;
$Pollicino-color-error: #f12a33 !default;
$Pollicino-color-primary: #1ea0f5 !default;
$Pollicino-color-secondary: #f75e1d !default;

/* GLOBALS
   =============================================== */

$Pollicino-font-size: 15px !default;
$Pollicino-border-radius: 3px !default;
$Pollicino-padding: 10px !default;

/* COMPONENTS VARIABLES
   =============================================== */

$Pollicino-Btn-tip-zIndex: 4 !default;
$Pollicino-FormField-height: rem(34px) !default;
$Pollicino-FormField-error-zIndex: 3 !default;
$Pollicino-FormField-overlay-zIndex: 5000 !default;
$Pollicino-Modal-zIndex: 9999 !default;
