
/* COLORS
   =============================================== */

$color-text: #333339;
$color-light: #88888C;
$color-lighter: #C3C3C7;
$color-error: #F12A33;
$color-primary: #1EA0F5;
$color-secondary: #E84C09;


/* TYPOGRAPHY
   =============================================== */

$base-font-size: 15px;


/* COMPONENTS VARIABLES
   =============================================== */

$FormField-height: rem(34px);
$FormField-overlay-zIndex: 5000;
$Modal-zIndex: 9999;
