@import '../../scss/core';

@import '../Btn/style';
@import '../Icon/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}


/**
 * FormField input password
 */

.FormField--password {
  &.isDisabled {
    .FormField-field { @include FormField-isDisabled; }
    .FormField-togglePsw { display: none; }
  }
}

.FormField--password .FormField {
  &-control {
    @include FormField-control;
  }

  &-togglePsw {
    position: absolute;
    top: -1px;
    right: 0;

    .Icon { opacity: 0.8; }
    &.isVisible .Icon { opacity: 0.2; }
  }
}

/**
 * Modifiers
 */

.FormField--password.FormField--block {
  @include FormField--block;
}


.FormField--password.FormField--invert {}

.FormField--password.FormField--invert .FormField {
  &-control {
    @include FormField-control--inverted;
  }
}
