@import '../../scss/core';

@import '../Dropdown/style';
@import '../FormFieldTick/style';
@import '../FormFieldSelect/style';
@import '~react-day-picker/lib/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * Field styles
 */

.FormField--date {
  @include FormField--modifiers;

  &.isReadOnly .Dropdown--field .Dropdown-btn {
    opacity: 1;

    &::after {
      opacity: 0.25;
    }
  }
}

.FormField--date .FormField {
  &-overlay {
    width: 18rem;
  }

  &-datePicker {
    line-height: 1.35;

    &:focus,
    [tabindex]:focus {
      outline: none;
    }

    .DayPicker-wrapper {
      padding: 0.3rem 0 0;
    }
    .DayPicker-NavBar {
      top: 0.3rem;
    }

    .DayPicker-Month {
      width: 100%;
      margin: 0;
    }

    .DayPicker-NavButton {
      border: 0.3rem solid transparent;
      box-sizing: border-box;
    }

    .DayPicker-Caption {
      line-height: 1.5rem;
    }

    .DayPicker-yearField {
      display: inline-block;
      line-height: inherit;
      vertical-align: top;

      .FormField-field {
        height: 1.5rem;
      }
    }

    .DayPicker-Day {
      &--today {
        color: $Pollicino-color-secondary;
      }
      &--outside {
        color: $Pollicino-color-lighter;
      }

      &--isDisabled {
        background: #f4f4f4;
        color: $Pollicino-color-lighter;
      }

      &--isSelected {
        background: $Pollicino-color-primary;
        color: #fff;
      }

      &--isSelected.DayPicker-Day--outside {
        opacity: 0.4;
      }
    }
  }
}

/**
 * Modifiers
 */
