# Ignore dev files
.storybook
.vscode
.babelrc
.editorconfig
.stylelintrc
.eslintrc
.circleci
jsconfig.json
webpack.config.js

# Ignore source files
src

# Ignore assets
assets

# Ignore tests
**/__tests__
tests
styleguide
