{
  "extends": "stylelint-config-standard-scss",
  "rules": {
    "keyframes-name-pattern": null,
    "selector-class-pattern": null,
    "no-descending-specificity": null,
    "scss/dollar-variable-pattern": null,
    "block-no-empty": null
  }
}
