@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField input text
 */

.FormField--text {
  &.isDisabled .FormField {
    &-field {
      @include FormField-isDisabled;
    }

    &-control {
      box-shadow: none;
    }
  }

  @include FormField--modifiers;
}

.FormField--text .FormField {
  &-control {
    @include FormField-control;
  }

  &-iconLeft,
  &-iconRight {
    position: absolute;
    top: 0;
    width: $Pollicino-FormField-height;
    text-align: center;

    & > .Icon {
      pointer-events: none;
    }

    & > .Btn {
      vertical-align: top;
    }
  }

  &-iconLeft {
    left: 0;
  }

  &-iconRight {
    right: 0;
  }
}
