@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * Field styles
 */

.FormField--select {
  &.isDisabled .FormField {
    &-field {
      @include FormField-isDisabled;
    }
    &-value::after {
      opacity: 0.5;
    }
  }

  &.isReadOnly .FormField {
    &-value {
      cursor: auto;
      &::after {
        opacity: 0.25;
      }
    }
    &-control {
      display: none;
    }
  }

  @include FormField--modifiers;
}

.FormField--select .FormField {
  &-field {
    height: $Pollicino-FormField-height;
  }

  &-value {
    @include text-clip;
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      right: 0.25em;
      margin-top: -0.2em;
      border: 0.35em solid transparent;
      border-top: 0.45em solid;
      opacity: 0.8;
    }
  }

  &-control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    appearance: none;
    font: inherit;
    opacity: 0;
    cursor: pointer;
  }
}

/**
 * Modifiers
 */
