@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}


/**
 * FormField textarea
 */

.FormField--textarea {
  &.isDisabled .FormField-field {
    @include FormField-isDisabled;
  }
}

.FormField--textarea .FormField {
  &-control {
    @include FormField-control;
    height: auto;
    padding-top: rem($Pollicino-padding / 2);
    line-height: 1.5;
  }
}


/**
 * Field modifiers
 */

.FormField--textarea.FormField--block {
  @include FormField--block;
}


.FormField--textarea.FormField--invert {}

.FormField--textarea.FormField--invert .FormField {
  &-control {
    @include FormField-control--inverted;
  }
}
