@import '../../scss/core';


@keyframes DropdownOverlayClip {
  0% { opacity: 0.2; clip: rect(-2em 60em 0 -2em); }
  70% { opacity: 1; }
  100% { clip: rect(-2em 60em 60em -2em); }
  // 0% { clip-path: polygon(-2em -2em, 60em -2em, 60em -1em, -2em -1em); }
  // 100% { clip-path: polygon(-2em -2em, 60em -2em, 60em 60em, -2em 60em); }
}


.Dropdown {
  position: relative;

  &.isDisabled {
    .Dropdown-btn {
      opacity: 0.5;

      &::after { opacity: 0.5; }
    }
  }
}

.Dropdown .Dropdown {

  &-btn {
    @include button-reset;
    @include text-clip;
    position: relative;
    max-width: 100%;
    min-height: 1.1em;
    padding-right: 1.4em;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 50%;
      right: 0.25em;
      margin-top: -0.2em;
      border: 0.35em solid transparent;
      border-top: 0.45em solid;
      opacity: 0.8;
    }
  }

  &-overlay {
    position: absolute;
    top: 100%;
    min-width: 12rem;
    margin-bottom: rem($Pollicino-padding);
    padding: rem($Pollicino-padding);
    background: #FFF;
    box-shadow: 0 0 0 1px rgba(#000, 0.1), 0 0 15px 1px rgba(#000, 0.3);
    border-radius: $Pollicino-border-radius;
    color: $Pollicino-color-text;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    z-index: $Pollicino-FormField-overlay-zIndex + 1;
    cursor: auto;
    animation: DropdownOverlayClip 0.4s cubic-bezier(0.7, 0, 0.7, 1) 0s;

    &[data-align="left"] { left: -0.4em; }
    &[data-align="right"] { right: -0.75rem; }

    &::before {
      content: '';
      position: absolute;
      top: -13px;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: rgba(#000, 0.3);
    }

    &::after {
      content: '';
      position: absolute;
      top: -12px;
      height: 0;
      border: 6px solid transparent;
      border-bottom-color: #FFF;
    }

    &[data-align="left"]::before,
    &[data-align="left"]::after { left: 0.75rem; }

    &[data-align="right"]::before,
    &[data-align="right"]::after { right: 0.95rem; }
  }
}

/**
 * Modifiers
 */

.Dropdown--modal {
  &.isOpen {
    cursor: pointer; // needed by iOS

    &::after { // overlay backdrop
      content: '';
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: $Pollicino-FormField-overlay-zIndex;
      cursor: default;
    }
  }
}


// .Dropdown--field {}

// .Dropdown--field .Dropdown {
// }


.Dropdown--noArrow {}

.Dropdown--noArrow .Dropdown {

  &-btn {
    padding-right: 0;

    &::after { display: none; }
  }

  &-overlay {
    &[data-align="left"] { left: -0.1em; }
    &[data-align="right"] { right: -0.2rem; }
  }

}


.Dropdown--cover {}

.Dropdown--cover .Dropdown {
  &-overlay[data-align] {
    left: 0;
    right: 0;
  }
}


