@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField input suggest
 */

.FormField--suggest {
  &.isDisabled .FormField {
    &-field { @include FormField-isDisabled; }
    &-control { box-shadow: none; }
  }
}

.FormField--suggest .FormField {

  &-control {
    @include FormField-control;
    margin-bottom: 1px;
  }

  &-options {
    box-sizing: border-box;
    margin: rem($Pollicino-padding * -1);
    padding: rem($Pollicino-padding) 0;
    list-style: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  &-option {
    position: relative;
    padding: 0 rem($Pollicino-padding);
    line-height: $Pollicino-FormField-height;
    cursor: pointer;

    &.isSelected {
      color: $Pollicino-color-primary;
    }

    &.isNew { font-style: italic; }
  }

  &-noOptions {
    color: $Pollicino-color-light;
    text-align: center;
  }

  &-selectNew {
    position: absolute;
    top: -$Pollicino-FormField-height;
    right: 0;
    margin-top: -2px; // align
  }

}


/**
 * Modifiers
 */

.FormField--suggest.FormField--block {
  @include FormField--block;
}


.FormField--suggest.FormField--invert {}

.FormField--suggest.FormField--invert .FormField {
  &-control {
    @include FormField-control--inverted;
  }
}
