@import '../../scss/core';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField range
 */

.FormField--range {

  &.isDisabled .FormField-control {
    @include FormField-isDisabled;

    &::-webkit-slider-runnable-track { background: rgba($Pollicino-color-light, 0.25); }
    &::-moz-range-track { background: rgba($Pollicino-color-light, 0.25); }
    &::-ms-fill-lower, &::-ms-fill-upper { background: rgba($Pollicino-color-light, 0.25); }
  }

}

.FormField--range .FormField {

  &-control {
    max-width: 100%;
    margin: rem(8px) 0;
    padding: 0;
    background: none;
    appearance: none;
    vertical-align: middle;
    color: #FFF;

    &::-webkit-slider-runnable-track {
      @include FormField--range-track();
      width: 100%;
      height: rem(8px);
    }
    &::-webkit-slider-thumb {
      @include FormField--range-thumb();
      margin-top: rem(-8px);
      appearance: none;
    }
    &::-moz-range-track {
      @include FormField--range-track();
      width: 100%;
      height: rem(8px);
    }
    &::-moz-range-thumb {
      @include FormField--range-thumb();
    }
    &::-ms-track {
      width: 100%;
      height: rem(8px);
      background: transparent;
      border: 0 solid transparent;
      border-top-width: rem(8px + 2px); // fix shadow clipped
      border-bottom-width: rem(8px + 2px);
      color: transparent;
    }
    &::-ms-fill-lower, &::-ms-fill-upper {
      @include FormField--range-track();
    }
    &::-ms-thumb {
      @include FormField--range-thumb();
    }

    &:focus {
      outline: none;

      &::-webkit-slider-thumb { box-shadow: 0 0 0 2px $Pollicino-color-primary, 0 0 8px $Pollicino-color-primary; }
      &::-moz-range-thumb { box-shadow: 0 0 0 2px $Pollicino-color-primary, 0 0 8px $Pollicino-color-primary; }
      &::-ms-thumb { box-shadow: 0 0 0 2px $Pollicino-color-primary, 0 0 8px $Pollicino-color-primary; }
    }

  }
}

/**
 * Field modifiers
 */

.FormField--range { /* stylelint-disable-line no-duplicate-selectors */
  &.FormField--block {
    @include FormField--block;
  }
}

