@import '../../scss/core';

$Pollicino-Btn-height: $Pollicino-FormField-height / 1rem + 0em !default; // stylelint-disable-line length-zero-no-unit

.Btn {
  @include button-reset;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
  text-align: center;
  user-select: none;

  &[disabled] {
    opacity: 0.2;
  }

  &[data-tip]:not([data-tip=""])::after {
    @include text-clip;
    content: attr(data-tip);
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-1em, -50%);
    max-height: 0;
    margin: 0 0.5em;
    padding: 0 1em;
    border-radius: 2em;
    background: rgba(#000, 0.8);
    color: #FFF;
    font-size: calc(1em - 3px);
    line-height: $Pollicino-Btn-height - 0.6em;
    opacity: 0;
    pointer-events: none;
    backface-visibility: hidden;
  }

  &[data-tip][data-tip-right]::after {
    left: auto;
    right: 100%;
    transform: translate(1em, -50%);
  }

  &[data-tip]:hover {
    &::after {
      transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;
      max-height: none;
      opacity: 1;
      transform: translate(0, -50%);
      z-index: $Pollicino-FormField-overlay-zIndex + 1; // over other stuff
    }
  }

  &.isLoading {
    pointer-events: none;
    opacity: 0.99; // force reflow to fix text disapperaing bug on Chrome

    & > :not(.Icon--loading) { opacity: 0; }
    &::first-line { color: rgba(#000, 0); }
    &[data-tip]::after { display: none; }

    .Icon--loading {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


/**
 * Modifiers
 */

.Btn--plain {
  line-height: $Pollicino-Btn-height;
}

.Btn--primary {
  padding: 0 1rem;
  background: $Pollicino-color-primary;
  color: #FFF;
  line-height: $Pollicino-Btn-height;

  &[disabled] { background: $Pollicino-color-text; }
}

.Btn--secondary {
  padding: 0 1rem;
  background: $Pollicino-color-secondary;
  color: #FFF;
  line-height: $Pollicino-Btn-height;
}

.Btn--outline {
  padding: 0 1rem;
  border: 1px solid;
  line-height: $Pollicino-Btn-height;
}

.Btn--square {
  box-sizing: content-box; // fix outline border
  width: $Pollicino-Btn-height;
  padding: 0;
  line-height: $Pollicino-Btn-height;
  text-align: center;

  &.isLoading {
    .Icon--loading { font-size: 0.75em; }
  }
}

.Btn--clip {
  @include text-clip;
  max-width: 100%;
}
