@import '../../scss/core';

@import '../Icon/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField search
 */

.FormField--search {
  &.isDisabled .FormField {
    &-field { @include FormField-isDisabled; }
    &-control { box-shadow: none; }
  }
}

.FormField--search .FormField {
  &-field {
    display: block;
  }

  &-control {
    @include FormField-control;
  }

  &-icon {
    position: absolute;
    left: 1px;
    top: 0;
    width: $Pollicino-FormField-height;
    color: $Pollicino-color-lighter;
    text-align: center;
    pointer-events: none;
  }
}


/**
 * Modifiers
 */

.FormField--search.FormField--block {
  @include FormField--block;
}


.FormField--search.FormField--invert {}

.FormField--search.FormField--invert .FormField {
  &-control {
    @include FormField-control--inverted;
  }
}

