@import '../../scss/core';

@import '../Icon/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField tick (aka radio / checkbox)
 */

.FormField--radiobox,
.FormField--checkbox {
  overflow: hidden;

  &.isDisabled {
    @include FormField-isDisabled;

    .FormField-label { opacity: 0.6; }
  }
}

.FormField--radiobox .FormField,
.FormField--checkbox .FormField {

  &-field {
    position: relative;
    cursor: pointer;
  }

  &-tick {
    position: absolute;
    top: -1px; // align fix
    left: 0;
    font-size: 86%;
  }

  &-control {
    position: absolute;
    top: -2rem;
    left: 0;
    width: auto !important;

    &:focus ~ .FormField-field .FormField-tick {
      color: $Pollicino-color-primary;
    }
  }

  &-value {
    display: block;
    padding-left: 1.7em;
    @include text-clip();
  }
}

/**
 * Field modifiers
 */

.FormField--radiobox, .FormField--checkbox { /* stylelint-disable-line no-duplicate-selectors */
  &.FormField--block {
    @include FormField--block;
  }
}


