@import '../../scss/core';

@import '../Icon/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * FormField tick (aka radio / checkbox)
 */

.FormField--radiobox,
.FormField--checkbox {

  &.isDisabled .FormField {
    &-label { @include FormField-isDisabled; }
    &-tick { opacity: 0.6; }
  }
}

.FormField--radiobox .FormField,
.FormField--checkbox .FormField {

  &-label {
    display: block;
    font-weight: inherit;
    cursor: pointer;
  }

  &-field .FormField-label { // increase specificity to make nesting work
    color: inherit;
    margin: 0;
    padding-right: rem($Pollicino-padding);
  }

  &-tick {
    position: absolute;
    top: -1px; // align fix
    left: 0;
    font-size: 86%;
  }

  &-control {
    position: absolute;
    top: 0.5em;
    left: 0;
    width: auto !important;
    clip: rect(0, 0, 0, 0);

    &:focus ~ .FormField-label .FormField-tick {
      color: $Pollicino-color-primary;
    }
  }

  &-value {
    display: block;
    padding-left: 1.7em;
    @include text-clip();
  }
}

/**
 * Field modifiers
 */

.FormField--radiobox.FormField--block,
.FormField--checkbox.FormField--block {
  @include FormField--block;
}


