@import '../../scss/core';

@import '../Dropdown/style';
@import '../FormFieldTick/style';

/**
 * FormField generic styles
 */

.FormField {
  @include FormField;
}

/**
 * Field style
 */

.FormField--selectGroup {
  @include FormField--modifiers;
}

.FormField--selectGroup .FormField {

  &-group {
    @include clearfix;
  }

  &-groupSearch {
    padding: 0 0 rem($Pollicino-padding);
  }

  &-groupList {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-groupList--overflow {
    max-height: 19rem;
    margin: rem($Pollicino-padding * -1);
    padding: rem($Pollicino-padding) 0 rem($Pollicino-padding) rem($Pollicino-padding);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    &:first-child { // if not preceded by search
      overflow-y: auto;
    }
  }

  &-groupItem {
    float: left;
    box-sizing: border-box;
    padding-right: rem($Pollicino-padding);
  }
}


/**
 * Modifiers
 */

.FormField--selectGroup .FormField-groupList--tabbed {
  display: flex;
  width: 100em;
  max-width: 100%;
}

.FormField--selectGroup .FormField-groupList--tabbed .FormField {

  &-groupItem {
    float: none;
    flex: 0 1 auto;
    min-width: 0;
    padding: 0;
    text-align: center;
  }

  &--radiobox {
    display: block;

    .FormField {
      &-tick { display: none; }
      &-value { padding: 0 rem($Pollicino-padding); }
      &-label {
        border: 1px solid $Pollicino-color-lighter; // apply to label so disabled works
        border-right-width: 0;
      }
    }

    &.isChecked .FormField-label {
      background: rgba(#BBB, 0.4);
      box-shadow: inset 0 3px 5px rgba(#000, 0.15);
    }

    &.isDisabled .FormField-label { box-shadow: none; }
  }

  &-groupItem:first-child .FormField-label {
    border-top-left-radius: $Pollicino-border-radius;
    border-bottom-left-radius: $Pollicino-border-radius;
  }

  &-groupItem:last-child .FormField-label {
    border-top-right-radius: $Pollicino-border-radius;
    border-bottom-right-radius: $Pollicino-border-radius;
    border-right-width: 1px;
  }
}
