@import '../scss/core';

/* PLAIN ELEMENTS STYLE
   =============================================== */

html {
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  // color: $color-text;
  // touch-action: manipulation; // iOS fast tap
  // background: $color-background;
}

h4 {
  clear: both;
  margin: 0 0 1rem;
  padding: 2.5rem 0 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  color: #999;
  border-bottom: 1px solid #CCC;
}

pre {
  overflow-x: auto !important;
}

table {
  margin-left: 0 !important;
  border-collapse: collapse !important;
  width: 100%;

  th {
    width: 6em;
    padding: 5px;
    text-align: left;

    &:first-child { width: 10em; }
    &:last-child { width: 15em; }
  }

  td { border: none; padding: 5px; }
  td:first-child { font: 400 0.917em/1.4 Consolas, "Liberation Mono", Menlo, monospace; }
  tbody tr:nth-child(2n+1) { background: #F7F7F9; }
}

.left { float: left; }
.w1 { width: 10rem; }
.w2 { width: 20rem; }
.dark { background: #222225; color: #FFF; padding: 1rem; }


/* Modules imports
   =============================================== */

@import '../src/Btn/style';
@import '../src/Collapsible/style';
@import '../src/Dropdown/style';
@import '../src/FormFieldColor/style';
@import '../src/FormFieldDate/style';
@import '../src/FormFieldNumber/style';
@import '../src/FormFieldPassword/style';
@import '../src/FormFieldRange/style';
@import '../src/FormFieldSelect/style';
@import '../src/FormFieldSelectGroup/style';
@import '../src/FormFieldSuggest/style';
@import '../src/FormFieldText/style';
@import '../src/FormFieldTextarea/style';
@import '../src/FormFieldTick/style';
@import '../src/Icon/style';

@import '../src/Modal/style';
.Modal { position: relative; padding: 2rem 0; }
